.manufac-rd-cont-div{
    padding: 96px;
}
.manufac-rd-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    width: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 64px;
    background: linear-gradient(105deg, rgba(0, 0, 0, 0.00) -0.54%, rgba(0, 0, 0, 0.40) 98.97%), #610BEE;
}

.manufac-rd-cont-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.manufac-rd-cont-left-text-1 {
    color: #FFCA0E;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.manufac-rd-cont-left-text-2 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.manufac-rd-cont-left-text-3 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.manufac-rd-cont-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.manufac-rd-cont-right-1 {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 32px;
    border-radius: 8px;
    background: rgba(97, 11, 238, 0.30);
}

.manufac-rd-cont-right-desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.manufac-rd-cont-right-desc1 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.288px;
}
.manufac-rd-cont-right-desc2{
    color:  #FFF;
   
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    opacity: 0.6;
}


@media screen and (max-width:1000px){
    .manufac-rd-cont{
       flex-direction: column;
    }
    .manufac-rd-cont-left{
        width: 100%;
    }
}



@media screen and (max-width:710px) {
    .manufac-rd-cont-div{
        padding: 24px;
    }
}

@media screen and (max-width:500px) {
    .manufac-rd-cont-left-text-2{
        font-size: 20px;
    }
    .manufac-rd-cont{
        padding: 20px;
     }
}