.addon-cont-div {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 60px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), rgba(97, 11, 238, 0.50);
}

.addon-cont-box {
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.addon-cont-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.addon-cont-text1 {
    color: #001325;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.addon-cont-text2 {
    color: #001325;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.addon-cont-flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.addon-cont-flex-boxes {
    width: 408px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 12px;
    background: #FFF;
}

.addon-cont-flex-img {
    border-radius: 4px;
    background: rgba(227, 181, 238, 0.50);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.addon-cont-flex-desc {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0px 24px;
}

.addon-cont-flex-desc1 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.288px;
}

.addon-cont-flex-desc2 {
    color:  #001325;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}