.comming-soon-page {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 64px 96px;
    background: #610bee;
}

.comming-soon-head {
    display: flex;
    flex-direction: column;
}

.comming-soon-head1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.comming-soon-head2 {
    color: #d5d3d3;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.comming-soon-bottom {
    width: 100%;
    display: grid;
    padding: 0px 80px 0px 80px;

    /* flex-wrap: wrap;
    justify-content: center; */
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    /* gap: 40px 160px; Spacing between items */
    /* justify-content: center; Center the grid horizontally */
    /* align-items: center; Center items vertically */
    /* margin: 0 auto; Center the entire grid container within its parent */
}



.comming-soon-bottom-cont {
    width: 263px;
    display: flex;
    flex-direction: column;
}

.comming-soon-bottom-cont-text1 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.288px;
}

.comming-soon-bottom-cont-text2 {
    color:  #d5d3d3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
   
}


@media screen and (max-width:1550px) {
    .comming-soon-bottom {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        gap: 40px 150px;
        /* gap: 40px 160px; Spacing between items */
        /* justify-content: center; Center the grid horizontally */
        /* align-items: center; Center items vertically */
        /* margin: 0 auto; Center the entire grid container within its parent */
    }
}
@media screen and (max-width:1550px){
    .comming-soon-page{
        padding: 30px;
    }
}