.scrollSection {
  opacity: 1;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.scrollSection.active {
  opacity: 1;
  transform: translateY(0);
}
.mobile-view{
  display: none;
}
@media screen and (max-width:750px){
  .mobile-view{
    display: block;
  }
  .desktop-view{
    display: none;
  }
}
/* Optional: Custom animation for specific sections */
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scrollSection.whyUs {
  animation: fadeInSlideUp 1s ease-out forwards;
}
