.subscription-page {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.subscription-page-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subscription-page-head {
    color: #001325;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.subscription-page-subhead {
    color: #001325;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.288px;
}

.subscription-page-desc {
    color: #001325;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.subscription-page-payment {
    display: flex;
    flex-direction: column;
    width: 235px;
    border-radius: 8px;
    border: 1px solid #edf2f7;
    overflow: hidden;
}

.subscription-page-switch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.subscription-page-cost {
    padding: 12px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), #610BEE;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-align: center;
}

/* General container for the switch */
.switchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.switch {
    width: 44px;
    height: 16px;
    background: var(--Primary-100, linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #610BEE);
    border-radius: 100px;
    position: relative;
    transition: background-color 0.3s ease, background 0.3s ease;
}

/* .switchOn {
    background: var(--Primary-800, linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), #610BEE);
  } */

.switchOff {
    background: var(--Primary-100, linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #610BEE);
}

/* Circle inside the switch */
.switchCircle {
    width: 24px;
    height: 24px;
    background: var(--Primary-800, linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), #610BEE);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.switchOn .switchCircle {
    transform: translate(20px, -50%);
}

.switchOff .switchCircle {
    transform: translate(1px, -50%);
}

/* Label for On/Off */
.switchLabel {
    font-size: 14px;
}

.subscription-page-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 16px;
}

.subscription-page-list-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #001325;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.192px;
    /* padding-bottom: 16px; */
    /* border-bottom: 1px solid linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), #080808; */
}

.subscription-page-list-details-left {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 70%;
    padding-bottom: 16px;
}

.subscription-page-list-details-right {
    width: 30%;
    padding-bottom: 16px;
    opacity: 0.5;
}

.subscription-page-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), #080808;
}
/* subscription-page-list-details */
@media screen and (max-width:1000px){
    .subscription-page-list-details{
        display: flex;
        flex-direction: column;
        
        
       
    }
    .subscription-page-list-details-left{
        width: 100%;
    }
    .subscription-page-list-details-right{
        width: 100%;
    }
}