.engineering-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 96px;
    gap: 50px;
    box-sizing: border-box;
}

.engineering-page-head {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;

}

.engineering-page-head-title {
    color: #001325;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.engineering-page-head-desc {
    color: #001325;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

.engineering-page-bottom {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
}

.engineering-page-bottom-tabs {
    display: flex;
    /* align-items: center; */
    /* border-bottom: 4px solid #F3F3F3; */
    /* gap: 10px; */

}

.engineering-page-bottom-tabs span {
    padding: 10px;
    border-bottom: 4px solid #F3F3F3;
    cursor: pointer;
    width: 312px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.3px;
}

.engineering-tab.active-tab {
    border-bottom: 4px solid #610bee;
    color: #610bee;
}

.engineering-page-bottom-tabs span:hover {
    border-bottom: 4px solid #610bee;
    color: #610bee;
}

.active-tab-data {
    display: flex;
    gap: 96px;
    /* justify-content: space-around; */
    width: 100%;
    box-sizing: border-box;

}

.active-tab-data-head {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.active-tab-data-head-title {
    color: #001325;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.288px;
}

.active-tab-data-head-desc {
    color: #001325;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
}

.active-tab-data-img {
    width: 600px;
    height: 360px;
    opacity: 0.34;
    background: #D9D9D9;
}


@media screen and (max-width:900px){
    .active-tab-data{
        flex-direction: column;
    }
    .active-tab-data-head{
        width: 100%;
    }
    .active-tab-data-img{
        width: 100%;
    height: 260px;
    opacity: 0.34;
    }
    .engineering-page-bottom-tabs span{
        width: 200px;
    }
}
@media screen and (max-width:500px){
    .engineering-page{
        padding: 20px 48px;
    }
    .engineering-page-bottom-tabs{
        width: 100%;
        display: flex;

    }
    
}